body {
    background-color: black;
    background-image: url(assets/picture/solar_system.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.btn_container .btn_Mercury {
    outline: 0;
    background-color: transparent;
    border: none;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 54.5%;
    left: 21.2%
}

#frame {
    visibility: hidden;
    position: absolute;
    top: 40%;
    left: 0%;
}
