body {
    font-family: "Arial", "Arial Black", "Verdana";
    color: white;
    background-color: grey;
}

h2 {
    color: blue;
}

h1 {
    font-size: 40pt;
    color: blue;
}

strong {
    color: yellow;
}

a {
    color: red;
}
