a:link {
    color: red;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: pink;
    text-decoration: overline;
}

p:first-letter {
    font-size: 300%;
}
